.like-button {
    width: 10px;
    height: 10px;
    background-image: url("/images/icons8-thumbs-up-64.png");
    background-size: cover;
    position: relative;
}

.blob {
    padding: 100px;
}


h1 {
    text-align: center;
}